body{
    /*background-image: url("../img/tux-large.png") !important;*/
    background-color: #c7b39b !important;
}


.ui-btn-up-c {
    background-color: #764A6B !important;
}
.ui-btn-up-a {
    background-color: #2A9180 !important;
}
